<h1>Home#compute_result</h1>
<p>Find me in app/views/home/compute_result.html.erb</p>

<% @result.each do |room, results| %>
  <%= "Room #{room}, #{results[:average]} minute average visit, #{results[:visitor_count]} visitor#{results[:s]} total" %>
<%end %>
