<h1>Home#upload_file</h1>
<p>Find me in app/views/home/upload_file.html.erb</p>

<%= form_tag(home_compute_result_path, multipart: true) do %>
   <div class="field">
     <%= label_tag :file %>
     <%= file_field_tag :file %>
   </div>
   <div class="actions">
      <%= submit_tag 'Submit' %>
   </div>
<% end %>
